$info_page_text_color: #3a3939;

$spacing_base: 4px;
$spacing_3xs: $spacing_base * 1;
$spacing_2xs: $spacing_base * 2;
$spacing_xs: $spacing_base * 3;
$spacing_s: $spacing_base * 4;
$spacing_m: $spacing_base * 5; //20
$spacing_l: $spacing_base * 6;
$spacing_xl: $spacing_base * 7;
$spacing_2xl: $spacing_base * 8;
$spacing_3xl: $spacing_base * 9;
