@import "../../styles/variables";

.blog-listing-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;

}
.blog-listing-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.blog-listing-grid_column > div.card { /* change div to reference your elements you put in <Masonry> */
  background: grey;
}

@mixin title-bold-style {
  font-size: 18px;
  font-weight: bold;
}

@mixin text-standard-style {
  font-size: 16px;
  font-weight: normal;
}

.card {
  padding-top: $spacing_m;
  
  .card-tags {
    text-align: center;
    padding-bottom: $spacing_m;
    span {
      text-transform: uppercase;
      margin-right: $spacing_2xs;
    }
  }
  .card-title {
    text-align: center;
  }
  
  .card-description {
    padding: $spacing_m;
    margin: 0;
  }

  @media (min-width: 768px) {
    .card-description {
      padding: $spacing_m 0;
    }
  }
}

.blog-listing-footer {
  text-align: center; 
  height: 100px;

  .has-more-button {
    border: 0;
    background: #babac7;
    padding: $spacing_xs $spacing_l;
    border-radius: 6px;
    cursor: pointer;
  }
}